<mat-toolbar>
  <span>Kafka Streams visualization</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


<mat-tab-group backgroundColor="primary" mat-align-tabs="center" animationDuration="0ms" #tabGroup>
  <mat-tab label="Ascii">
    <app-ascii-input></app-ascii-input>
  </mat-tab>
  <mat-tab label="SVG render">
    <app-graph-render-svg></app-graph-render-svg>
  </mat-tab>
  <mat-tab label="Canvas render">
    <app-graph-render-canvas></app-graph-render-canvas>
  </mat-tab>
</mat-tab-group>

