<app-fork-me></app-fork-me>

<mat-toolbar>
  <span>Kafka Streams visualization</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-tab-group color="primary" mat-align-tabs="center" animationDuration="0ms" #tabGroup>
  <mat-tab label="Ascii">
    <app-ascii-input></app-ascii-input>
  </mat-tab>
  <mat-tab label="SVG render">
    <app-graph-render-svg [topologySvg]="store.topologySvg()"></app-graph-render-svg>
  </mat-tab>
  <mat-tab label="Canvas render">
    <app-graph-render-canvas [topologySvg]="store.topologySvg()"></app-graph-render-canvas>
  </mat-tab>
</mat-tab-group>

